---
import Navigation from './Nav.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
 <nav>
  <!-- <Hamburger />
  <ThemeIcon /> -->
  <Navigation />
 </nav>
</header>
<style>
  header {
    position: fixed;
    top: 0px;
    width: 100%;
    /* background: var(--bg-color); */
    z-index: 2;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
</style>